body{
	background-image: url('retina_wood.png');
}

p{
	font-family:arial;
	font-size:12px;
}

h3{
background-color: purple;
	
	
}

li{

	
}

a{
	font-weight:bold;
}

#Header{
	border: solid 8px black;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	text-align: center;
	background-color: purple;
	margin-left: auto;
	margin-right: auto:
}

#Header h1{
	font-size:60px;
	font-family: "passion one";
	color: #FFBC00;
	font-weight:bold;
}

#LeftNav{
	background-color: purple;
	border: solid 8px black;
	width: 400px;
	margin-bottom: 10px; 
	float: left;
	text-align: center;
	padding-bottom: 8px
	margin-left: auto;
	margin-right: auto;
}

#LeftNav img{

}

#LeftNav ul{
	list-style-type: none;
	padding-left: 0px;
	background-color: purple;
	
}

#LeftNav h3{
	color: #FFBC00;
	font-family: "passion one";
	font-weight: bold;

}

#Content{
float: left;
	border: solid 8px black;
	width: 700px;
	text-align: center;
	padding: 15px;
	background-color: purple;
	color: white;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;

}

#content img {
	 
}

#Content span {
	color: #FFBC00;
	font-family: "passion one";
	font-weight: bold;
}

#Footer {
	border: solid 8px black;
	width: 700px;
	text-align:center;
	background-color: purple;
	clear: both; 
	margin-left: auto;
	margin-right: auto;
}

#Footer h3 {
	color: #FFBC00;
	font-family: "passion one";
	font-weight: bold;
}

#Footer p {
 color:white;
}

#Footer ul{
	list-style-type: none;
	padding-left: 0px;
}